* {
    box-sizing: border-box;
  }
  /* 
  .grid_wrapper {
    margin: 5em auto;
    max-width: 1000px;
    background-color: #fff;
  } */
  
  .cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
  }
  
  .card {
    margin: 15px;
    width: calc((100% / 4) - 30px);
    transition: all 0.2s ease-in-out;
    border: 0;
    
  }
  @media screen and (min-width: 1200px) {
    .card__inner {
      max-height: 250px;
    }
  }
  @media screen and (max-width: 1199px) {
    .card__inner {
      max-height: 200px;
    }
  }
  
  @media screen and (max-width: 991px) {
    .card {
      width: calc((100% / 2) - 30px);
    }
    .card__inner {
      max-height: 300px;
    }
  }
  @media screen and (max-width: 767px) {
    .card {
      width: 100%;
    }
    .card__inner{
      max-height: 450px;
    }
  }
  .card:hover .card__inner {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .card__inner {
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .card__inner:after {
    transition: all 0.3s ease-in-out;
  }
  
  .card__inner img {
    width: 100%;
  }
  
  .expand_animation {
    transition: all 0.2s ease-in-out;
  }
  
  .expander__content{
    padding:40px;
  }
  
  .card__expander {
    background-color: #333a45;
    width: 100%;
    position: relative;
  
    color: #eceef1;
    font-size: 1.5em;
    z-index: 1;
  }
  .card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
  }
  .card.is-collapsed .card__expander {
  
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
  }
  .card.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
  }
  .card.is-expanded .card__expander {
  
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
  }
  .card.is-expanded:hover .card__inner {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .card.is-inactive .card__inner {
    opacity: 0.5;
  }
  .card.is-inactive:hover .card__inner {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  @media screen and (min-width: 992px) {
    .card:nth-of-type(4n+2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
  
    .card:nth-of-type(4n+3) .card__expander {
      margin-left: calc(-200% - 60px);
    }
  
    .card:nth-of-type(4n+4) .card__expander {
      margin-left: calc(-300% - 90px);
    }
  
    .card:nth-of-type(4n+5) {
      clear: left;
    }
  
    .card__expander {
      width: calc(400% + 90px);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .card:nth-of-type(2n+2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
  
    .card:nth-of-type(2n+3) {
      clear: left;
    }
  
    .card__expander {
      width: calc(200% + 30px);
    }
  }
  