.skillbutton {
  color: #333;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 0;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 5px;
}

.form-group {
  margin-bottom: 0;
}

.formSpacer {
  margin-top: 5px;
}

.hidden {
  display: none;
}

.gutterWrap {
  padding-left: 0;
}

.UserDashboard {
  background: #fafafa;
}

.profile-form {
  display: block;
}

#userImage {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 50%;
}

#editProfile {
  margin-bottom: 10px;
}

/* #profileImage{
  border-radius: 50%;
} */

#userProfile {
  width: 95%;
  float: left;
}

/************* Orange Bar *************/

#orangeBarDogDiv {
  position: absolute;
  z-index: 1;
  left: 23%;
  clip: rect(0px,175px,100px,0px);
}

#orangeBarDogImg {
  width: 175px;

}

#orangeBar {
  width: 100vw;
  height: 100px;
  float: left;
  margin-bottom: 20px;
  background: #f77650;
  background: -moz-linear-gradient(left, #f77650 0%, #d84d23 100%);
  background: -webkit-linear-gradient(left, #f77650 0%,#d84d23 100%);
  background: linear-gradient(to right, #f77650 0%,#d84d23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77650', endColorstr='#d84d23',GradientType=1 );
  overflow: hidden;
  -webkit-box-shadow: inset 0px -13px 41px -22px rgba(0,0,0,0.38);
  -moz-box-shadow: inset 0px -13px 41px -22px rgba(0,0,0,0.38);
  box-shadow: inset 0px -13px 41px -22px rgba(0,0,0,0.38);
}

#dashboardTitle {
  font-family: 'Din Bold';
  color: #fff;
  font-size: 2em;
  z-index: 2;
  position: absolute;
  left: calc(23% + 175px);
  top: 115px;
}

/************* Recruiter search *************/

#agencyLocate form input {
  width: 70%;
}

#search-button {
  margin-left: 20px;
}

/************* Media queries *************/

@media only screen and (max-width : 992px) {
  #agencyLocate {
    margin-left: 10px;
  }

  #agencyLocate form input {
    width: 80%;
  }
} 

@media only screen and (max-width : 770px) {
  #agencyLocate {
    margin-left: 10px;
    width: 100%
  }

  #agencyLocate form input {
    width: 80%;
  }

  #userProfile {
    width: 100%;
  }

  #userImage {
    width: 50%;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .gutterWrap {
    padding-left: 0px;
    padding-right: 0px;
  }
} 

@media only screen and (max-width : 700px) {
  #orangeBarDogDiv {
    left: 10%;

  }

  #dashboardTitle {
    left: calc(10% + 175px);
    font-size: 1.8em;
  }


} 

@media only screen and (max-width : 522px) {
  #orangeBarDogDiv {
    left: 0;
  }

  #dashboardTitle {
    left: 175px;
    font-size: 1.8em;
  }

  #agencyLocate {
    margin-left: 10px;
    width: 100%
  }

  #agencyLocate form input {
    width: 60%;
  }
} 

@media only screen and (max-width : 380px) {
  #orangeBarDogDiv {
    left: 0;
    clip: rect(0px,120px,75px,0px);
  }

  #orangeBarDogImg {
    width: 120px;
  }

  #orangeBar {
    height: 75px;
  }

  #dashboardTitle {
    left: 120px;
    top: 100px;
    font-size: 1.5em;
  }

  #recSearchTitle h2 {
    font-size: 1.7em;
  }
} 