:local(html), :local(body){
  height: 100%;
}

:local(.signin-container) {
  height: 100%;
}

:local(.logoSignin) {
  width: 95px;
  height: 95px;
  border-radius: 14px;
  padding: 10px;
  border: 2px solid rgb(253, 130, 85);
  margin-right: 5px;
}

:local(.signinContent) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 350px;
}

:local(.signinContainer) {
  height: 80%;
  display: flex;
  justify-content: center;
}

:local(.loginBox) {
text-align: center;
width: 100%;
}

.inputbox > input {
  margin: 5px;
}

