.browseStyle {
  border-color: rgb(253, 130, 85);
  width: 100%;
}

.custom-file-label::after {
  color: white;
  background-color: rgb(253, 130, 85);
  border-color: rgb(253, 130, 85);
}

#resumeBuilder {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

#resumeBuilder .btn {
  margin-top: 20px;
}