.popCardCont {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.popCard {
  width: 100%;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 20px;
}

.popCard h5 {
  font-size: 1em;
}

.popColumn {
  padding-left: 5px;
  padding-right: 5px;
}

.popCardHeader {
  border: 0;
  background: rgb(167,183,198);
  padding-left: 0;
  padding-right: 0;
}

.popCardHeader:first-child {
  border-radius: 10px 10px 0 0;
}

.popCardBody {
  background: rgb(234,241,246);
  border-radius: 0 0 10px 10px;
}

.popCardRow {
  width: 100%;
}

@media only screen and (max-width : 1200px) {
  .popCard h5 {
    font-size: 0.8em;
  }
} 

@media only screen and (max-width : 991px) {
  .popCard {
    margin-bottom: 15px;
  }
  .popCard h5 {
    font-size: 1em;
  }
} 