.RecruiterDashboard {
    background: #fafafa;
    min-height: 100vh;
}

#agency_info {
  float: right;
}

#recRightSide {
  padding-left: 0;
  padding-right: 0;
}

#findAllUsers {
  margin-left: 20px;
  vertical-align: top;
}

/************* Orange Bar *************/

#recOrangeBarDogDiv {
    position: absolute;
    z-index: 1;
    left: 23%;
    clip: rect(0px,175px,100px,0px);
  }
  
  #recOrangeBarDogImg {
    width: 175px;
  }
  
  #recOrangeBar {
    width: 100vw;
    height: 100px;
    float: left;
    margin-bottom: 20px;
    background: #f77650;
    background: -moz-linear-gradient(left, #f77650 0%, #d84d23 100%);
    background: -webkit-linear-gradient(left, #f77650 0%,#d84d23 100%);
    background: linear-gradient(to right, #f77650 0%,#d84d23 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77650', endColorstr='#d84d23',GradientType=1 );
    overflow: hidden;
    -webkit-box-shadow: inset 0px -13px 41px -22px rgba(0,0,0,0.38);
    -moz-box-shadow: inset 0px -13px 41px -22px rgba(0,0,0,0.38);
    box-shadow: inset 0px -13px 41px -22px rgba(0,0,0,0.38);
  }
  
  #recDashboardTitle {
    font-family: 'Din Bold';
    color: #fff;
    font-size: 2em;
    z-index: 2;
    position: absolute;
    left: calc(23% + 175px);
    top: 115px;
  }

/************* User filter *************/

#userLocate form input {
  width: 65%;
  margin-left: 10px;
}

#user-search-button {
  margin-left: 20px;
  margin-bottom: 5px;
}

#user-search-reset {
  margin-left: 10px;
  margin-bottom: 5px;
}


/************* Media queries *************/

@media only screen and (max-width : 991px) {
  #population-tiles {
    text-align: center;
  }
} 

@media only screen and (max-width : 700px) {
  #recOrangeBarDogDiv {
    left: 10%;

  }

  #recDashboardTitle {
    left: calc(10% + 175px);
    font-size: 1.8em;
  }
} 

@media only screen and (max-width : 522px) {
  #recOrangeBarDogDiv {
    left: 0;
  }

  #recDashboardTitle {
    left: 175px;
    font-size: 1.6em;
  }

  #userSearchTitle {
    text-align: center;
  }

  #userLocate form input {
    width: 100%;
    margin-bottom: 10px;
  }

  #userSearchButtons {
    margin: 0 auto;
    margin-bottom: 5px;
  }
  
  #user-search-reset {
    margin-left: 5px;
  }
} 

@media only screen and (max-width : 412px) {
  #recDashboardTitle {
    font-size: 1.4em;
  }
} 

@media only screen and (max-width : 380px) {
  #recOrangeBarDogDiv {
    left: 0;
    clip: rect(0px,120px,75px,0px);
  }

  #recOrangeBarDogImg {
    width: 120px;
  }

  #recOrangeBar {
    height: 75px;
  }

  #recDashboardTitle {
    left: 120px;
    top: 100px;
    font-size: 1.4em;
  }


} 